body {
    font-family: 'Roboto', sans-serif;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 90%; /* Adjusted width for better spacing */
    max-width: 800px; /* Added max-width for desktop screens */
    background: rgba(260, 230, 198, 0.78);
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    text-align: center;
    margin: 20px; /* Added margin for better spacing on smaller screens */
    box-sizing: border-box; /* Ensure padding and border are included in width and height */
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: #000000;
    margin-bottom: 20px;
}

form, #user-form, #logged-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  padding: 15px 22px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(199, 205, 117);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10.5px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 2.5px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 2.5px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.developer {
    font-family: Arial, sans-serif; /* Change the font family to your desired font */
    font-size: 16px; /* Change the font size if needed */
    font-weight: 800; /* Change the font weight if needed */
    /* Add any other font properties you want to change */
}

.developer {
    opacity: 0.7; /* Adjust the opacity value to make the text more or less visible */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adjust the shadow values for the desired blur effect */
}

table {
    table-layout: fixed;
    width: 100%; /* Ensures the table takes the full width of the container */
    border-collapse: collapse;
    margin-top: 20px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

td {
    white-space: normal; /* Allows text to wrap within the cell */
    overflow: hidden; /* Hides any overflow beyond the cell boundaries */
}



table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background: #E4F1FE;
}

tr:nth-child(even) {
    background: #F7F9FC;
}

.delete, .renew {
    color: #4A90E2;
    cursor: pointer;
    margin-right: 10px;
}

i {
    margin-right: 5px;
}

#welcome-message {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

#user-logs {
    margin-top: 30px;
    text-align: left;
}

.user-books {
    margin-bottom: 20px;
}

.user-books h3 {
    font-size: 20px; /* Reduced font size for usernames */
    color: #5a6439;
    margin-bottom: 10px;
}

.user-books ul {
    list-style-type: none;
    padding: 0;
}

.user-books ul li {
    background: #F7F9FC;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsiveness */
@media (min-width: 600px) {
    .container {
        width: 80%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 50%;
    }
}
